@model TestingMvc.UserVM
@using TestingMvc

<div class ="row">
	<div class ="large-12 columns">
		<h3>Add User</h3>
	</div>
</div>

@using(Html.BeginForm("AddUser", "Home", FormMethod.Post))
{
	<div class="panel">
		<div class="row">
			<div class="large-5 large-centered columns end">
				@Html.LabelFor(m => m.Username, new { @class=Html.ClassIfInvalidField(m => m.Username, "error") })
				@Html.TextBoxFor(m => m.Username, new { @class=Html.ClassIfInvalidField(m => m.Username, "error") })
				@Html.ValidationMessageFor(m => m.Username, null, new { @class="error" })
			</div>
		</div>

		<div class="row">
			<div class="large-5 large-centered columns end">
				@Html.LabelFor(m => m.NewPassword, new { @class=Html.ClassIfInvalidField(m => m.NewPassword, "error") })
				@Html.PasswordFor(m => m.NewPassword, new { @class=Html.ClassIfInvalidField(m => m.NewPassword, "error") })
				@Html.ValidationMessageFor(m => m.NewPassword, null, new { @class="error" })
			</div>
		</div>

		<div class="row">
			<div class="large-5 large-centered columns end">
				@Html.LabelFor(m => m.NewPasswordAgain, new { @class=Html.ClassIfInvalidField(m => m.NewPasswordAgain, "error") })
				@Html.PasswordFor(m => m.NewPasswordAgain, new { @class=Html.ClassIfInvalidField(m => m.NewPasswordAgain, "error") })
				@Html.ValidationMessageFor(m => m.NewPasswordAgain, null, new { @class="error" })
			</div>
		</div>

		<div class="row">
			<div class="large-5 large-centered columns end">
				@Html.LabelFor(m => m.Email, new { @class=Html.ClassIfInvalidField(m => m.Email, "error") })
				@Html.TextBoxFor(m => m.Email, new { @class=Html.ClassIfInvalidField(m => m.Email, "error") })
				@Html.ValidationMessageFor(m => m.Email, null, new { @class="error" })
			</div>
		</div>

		@* Roles *@
		<div class="row">
			<div class="large-5 large-centered columns end">
				<label for="UserRoles" class='@Html.ClassIfInvalidField(m => m.UserRoles, "error")'>Roles</label>
				<div class='panel @Html.ClassIfInvalidField(m => m.UserRoles, "error")'>
					@foreach (var r in Model.RoleOptions)
					{
						<input type="checkbox" value="@r" name="UserRoles" /> @r <br />
					}
				</div>
				@Html.ValidationMessageFor(m => m.UserRoles, null, new { @class="error" })
			</div>
		</div>

		<div class="row">
			<div class="large-5 large-centered columns end">
				<input type="submit" value="Add User" class="button right" />
			</div>
		</div>
	</div> @* End Panel *@
}